<!doctype html>
<html lang="en">
  <head>
      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

      <title>FFStats</title>

      <!-- JS -->
      <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.min.css')}}">
      <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
      </style>
    </head>
  <body>

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="{{url_for('static',filename='images/logo_mini_black.png')}}">
          FFStats
        </a>
        <a href="javascript:void(0)" class="item">Home</a>
        <a href="/" class="item">Logout</a>
        <!--<div class="ui simple dropdown item">
          Settings <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>

    <div class="ui main text container" id="main">
      <div class="ui action input">
        <input type="text" id="leagueId" placeholder="Enter ESPN league ID...">
        <button class="ui button" id="addLeague">Add League</button>
      </div>

      <h2 class="ui header">Your Leagues</h2>
      <div id="loader" class="ui active centered inline big loader"></div>
      <!--<p>You have no leagues. Add a league to get started.</p>-->

      <!--in cards div <div class="meta">
        <span class="category">2012-2018</span>
      </div>
      <div class="description">
        <p></p>
      </div>-->
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script>
      var access_token = '{{ access_token }}';
      var uid = '{{ uid }}';

      // FIREBASE STUFF
      var config = {
        apiKey: "AIzaSyAj619jd3xmYZbUSQPBS9kkjzKJvyAXBEc",
        authDomain: "ffstats-f2558.firebaseapp.com",
        databaseURL: "https://ffstats-f2558.firebaseio.com",
        projectId: "ffstats-f2558",
        storageBucket: "ffstats-f2558.appspot.com",
        messagingSenderId: "339504328835"
      };

      firebase.initializeApp(config);
      const db = firebase.firestore();
      db.settings({
        timestampsInSnapshots: true
      });

      var userRef = db.collection("users").doc(uid);

      function addLeague() {
        var leagueId = document.getElementById("leagueId").value;
        var leagueRef = db.collection("leagues").doc(leagueId);

        // add league ID
        userRef.collection("leagues").doc(leagueId).set({
          "ref": leagueRef
        });
      }

      function viewLeague(leagueId) {
        window.location.href = '/home/league/' + leagueId;
      }

      $(document).ready(function() {
        // add leagues to view
        userRef.collection("leagues").get().then(snapshot => {
          if(snapshot.docs.length == 0) {
            // no leagues
            $('#main').append('<p>You have no leagues. Add a league to get started.</p>');
          } else {
            $('#main').append('<div class="ui three stackable cards" id="leagues"></div>');
            for (var i = 0; i < snapshot.docs.length; i++) {
              let doc = snapshot.docs[i];
              let leagueRef = doc.data().ref;
              leagueRef.get().then(snap => {
                let data = snap.data();
                // add league to view
                let length = data.startingSeason + "-" + data.endingSeason;

                leagueRef.collection("seasons").limit(1).get().then(seasonSnap => {
                  let seasonData = seasonSnap.docs[0].data();

                  $('#loader').toggleClass('active', 'disabled');
                  $('#leagues').append('<a class="ui card" href="javascript:viewLeague(' + doc.id + ')"><div class="content"><div class="header">' + seasonData.name + '</div></div><div class="extra content"><div class="right floated author">' + length + '</div></div></a>');
                });
              });
            }
          }
        });
      });

      document.getElementById('addLeague').onclick = addLeague;
    </script>
  </body>
</html>
