<!doctype html>
<html lang="en">
  <head>
      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

      <title>FFStats</title>

      <!-- JS -->
      <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.min.css')}}">
      <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
      </style>
    </head>
  <body>

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="{{url_for('static',filename='images/logo_mini_black.png')}}">
          FFStats
        </a>
        <a href="#" class="item">Home</a>
        <a href="/" class="item">Logout</a>
      </div>
    </div>

    <div class="ui main text container">
      <h1 class="ui header">PJC Fantasy Football League</h1>
      <hr>
      <h2 class="ui header">Seasons</h2>
      <div class="ui three stackable cards">
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2018</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2017</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2016</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2015</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2014</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2013</div>
          </div>
        </a>
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">2012</div>
          </div>
        </a>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script>
      var access_token = '{{ access_token }}';
      var uid = '{{ uid }}';

      // FIREBASE STUFF
      var config = {
        apiKey: "AIzaSyAj619jd3xmYZbUSQPBS9kkjzKJvyAXBEc",
        authDomain: "ffstats-f2558.firebaseapp.com",
        databaseURL: "https://ffstats-f2558.firebaseio.com",
        projectId: "ffstats-f2558",
        storageBucket: "ffstats-f2558.appspot.com",
        messagingSenderId: "339504328835"
      };

      firebase.initializeApp(config);
      const db = firebase.firestore();
      db.settings({
        timestampsInSnapshots: true
      });

      function addLeague() {
        var leagueId = document.getElementById('leagueId').value;

        var leagueRef = db.collection("leagues").doc(leagueId);
        var userRef = db.collection("users").doc(uid);

        // add league ID
        userRef.collection("leagues").doc(leagueId).set({
          "ref": leagueRef
        });
      }

      document.getElementById('addLeague').onclick = addLeague;
    </script>
  </body>
</html>
