<!doctype html>
<html lang="en">
  <head>
      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

      <title>FFStats</title>

      <!-- JS -->
      <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/transition.js')}}"></script>
      <script src="{{url_for('static',filename='js/dropdown.js')}}"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.min.css')}}">
      <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
      </style>
    </head>
  <body>

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="{{url_for('static',filename='images/logo_mini_black.png')}}">
          FFStats
        </a>
        <a href="/home" class="item">Home</a>
        <a href="/" class="item">Logout</a>
      </div>
    </div>

    <div class="ui main text container">
      <div class="ui clearing segment">
      <h1 class="ui left floated header">
        PJC Fantasy Football League
      </h1>
      <h1 class="ui right floated header" id="season"></h1>
      </div>

      <div class="ui segment">
        <div class="ui left very close rail">
          <div id="leftMenu" class="ui secondary vertical pointing menu right floated" style="width:50%">
          </div>
        </div>
        <div class="ui right very close rail">
          <div class="ui inverted vertical menu">
            <a id="teamsitem" class="menuitem item active">Teams</a>
            <a id="matchupsitem" class="menuitem item">Matchups</a>
            <a class="item">Standings</a>
            <a class="item">Draft</a>
            <a class="item">Analysis</a>
          </div>
        </div>
        <div id="main">
        </div>
        <br/>
        <div id="loader" class="ui disabled centered inline big loader"></div>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script>
      var access_token = '{{ access_token }}';
      var uid = '{{ uid }}';
      var league_id = '{{ league_id }}';
      var season = '{{ season }}';

      // FIREBASE STUFF
      var config = {
        apiKey: "AIzaSyAj619jd3xmYZbUSQPBS9kkjzKJvyAXBEc",
        authDomain: "ffstats-f2558.firebaseapp.com",
        databaseURL: "https://ffstats-f2558.firebaseio.com",
        projectId: "ffstats-f2558",
        storageBucket: "ffstats-f2558.appspot.com",
        messagingSenderId: "339504328835"
      };

      firebase.initializeApp(config);
      const db = firebase.firestore();
      db.settings({
        timestampsInSnapshots: true
      });

      var leagueRef = db.collection("leagues").doc(league_id);
      var seasonRef = leagueRef.collection("seasons").doc(season);
      var matchups = {};
      var teams = {};

      $(document).ready(function() {
          var currentDisplay = "teamsitem";

          $('.ui.dropdown').dropdown();
          $('#season').append(season);

          function displayMatchupsForWeek(week) {
            // empty div
            $('#main').empty();
            $('#loader').removeClass('disabled');
            $('#loader').addClass('active');
            // add container
            var weekText = $('.tabactive').text();
            $('#main').append('<h2 class="ui center aligned header">' + weekText + ' Matchups</h2>');
            $('#main').append('<div class="ui two stackable cards" id="matchups"></div>');
            // add matchups for week
            seasonRef.collection('matchups').where('week', '==', parseInt(week)).get().then(snapshot => {
              if(snapshot.docs.length == 0) {
                alert('Nothing for this week');
              } else {
                for(var i = 0; i < snapshot.docs.length; i++) {
                  var doc = snapshot.docs[i];
                  var data = doc.data();

                  if(data.matchupType != "bye") {
                    let awayPoints = data.away.totalTeamPoints;
                    let homePoints = data.home.totalTeamPoints;
                    let winner = data.winner;

                    let awayRef = data.away.teamId;
                    let homeRef = data.home.teamId;

                    awayRef.get().then(awaySnap => {
                      var awayData = awaySnap.data();

                      homeRef.get().then(homeSnap => {
                        var homeData = homeSnap.data();

                        let awayName = awayData.teamLocation + ' ' + awayData.teamNickname;
                        let awayAbbrev = awayData.teamAbbrev;
                        let homeName = homeData.teamLocation + ' ' + homeData.teamNickname;
                        let homeAbbrev = homeData.teamAbbrev;

                        $('#loader').removeClass('active');
                        $('#loader').addClass('disabled');
                        if(winner == "away") {
                          $('#matchups').append('<div class="ui card"><div class="content"><div class="ui center aligned two column grid"><div class="column"><div class="header">' + awayName + '</div><div class="meta">' + awayAbbrev + '</div></div><div class="column"><div class="header">' + homeName + '</div><div class="meta">' + homeAbbrev + '</div></div></div></div><div class="extra content"><div class="ui two buttons"><div class="ui basic green button">' + awayPoints + '</div><div class="ui basic red button">' + homePoints + '</div></div></div></div>');
                        } else {
                          $('#matchups').append('<div class="ui card"><div class="content"><div class="ui center aligned two column grid"><div class="column"><div class="header">' + awayName + '</div><div class="meta">' + awayAbbrev + '</div></div><div class="column"><div class="header">' + homeName + '</div><div class="meta">' + homeAbbrev + '</div></div></div></div><div class="extra content"><div class="ui two buttons"><div class="ui basic red button">' + awayPoints + '</div><div class="ui basic green button">' + homePoints + '</div></div></div></div>');
                        }
                      });
                    });
                  }
                }
              }
            });
          }

          function displayMatchups() {
            // add tab menu
            $('#leftMenu').empty();
            $('#leftMenu').css('width', '50%');
            var sections = ["Week 1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16"];
            for(var i = 0; i < sections.length; i++) {
              if (i == 0) {
                $('#leftMenu').append('<a class="active tabactive item weekitem">' + sections[i] + '</a>');
              } else {
                $('#leftMenu').append('<a class="item weekitem">' + sections[i] + '</a>');
              }
            }
            // add main content
            displayMatchupsForWeek(1);
          }

          function displayTeamsMenu() {
            var teamIDs = Object.keys(teams);
            teamIDs.sort();

            for(var i = 0; i < teamIDs.length; i++) {
              var id = teamIDs[i];
              var name = teams[id]["teamLocation"] + " " + teams[id]["teamNickname"];

              if(i == 0) {
                $('#leftMenu').append('<a id="' + id + '" class="active teamactive item teamitem">' + name + '</a>');
              } else {
                $('#leftMenu').append('<a id="' + id + '" class="item teamitem">' + name + '</a>');
              }
            }
          }

          function displayTeam(id) {
            $('#main').empty();

            var data = teams[id];
            var name = data.teamLocation + ' ' + data.teamNickname + ' (' + data.teamAbbrev + ')';
            var owner = data.owners[0].firstName + ' ' + data.owners[0].lastName;
            var record = data.record.overallWins + '-' + data.record.overallLosses + '-' + data.record.overallTies;

            $('#main').append('<div class="ui centered card"><img class="ui small circular centered image" src="' + data.logoUrl + '"><div class="content"><h2 class="ui centered header">' + name + '</h2><div class="ui container center aligned"><div class="ui huge label">' + record + '</div></div><h3 class="ui centered header">' + owner + '</h3></div></div>');
            $('#main').append('<br/><div class="ui tiny two statistics"><div class="statistic"><div class="value">' + data.record.pointsFor + '</div><div class="label">Points For</div></div><div class="statistic"><div class="value">' + data.record.pointsAgainst + '</div><div class="label">Points Against</div></div></div></div>')
          }

          function displayTeams() {
            // empty stuff
            $('#leftMenu').empty();
            $('#leftMenu').css('width', '70%');

            if(JSON.stringify(teams) == '{}') {
              $('#loader').removeClass('disabled');
              $('#loader').addClass('active');
              // fetch data
              seasonRef.collection('teams').get().then(snapshot => {
                for(var i = 0; i < snapshot.docs.length; i++) {
                  var doc = snapshot.docs[i];
                  teams[doc.id] = doc.data();
                }
                $('#loader').removeClass('active');
                $('#loader').addClass('disabled');
                displayTeamsMenu();
                displayTeam(snapshot.docs[0].id);
              });
            } else {
              var teamIDs = Object.keys(teams);
              teamIDs.sort();
              displayTeamsMenu();
              displayTeam(teamIDs[0]);
            }
          }

          $(document).on('click', '.weekitem', function(){
              var weekText = $('.tabactive').text();
              var week = weekText.split(' ')[1];
              $('.tabactive').text(week);
              $('.tabactive').removeClass('active');
              $('.tabactive').removeClass('tabactive');

              weekText = $(this).text();
              $(this).text('Week ' + weekText);
              $(this).addClass('active');
              $(this).addClass('tabactive');

              displayMatchupsForWeek(parseInt(weekText));
          });

          $(document).on('click', '.teamitem', function() {
              $('.teamactive').removeClass('active');
              $('.teamactive').removeClass('teamactive');

              $(this).addClass('teamactive');
              $(this).addClass('active');

              var id = parseInt($('.teamactive').attr('id'));
              displayTeam(id);
          });

          $(document).on('click', '.menuitem', function() {
            var clicked = $(this).attr('id');

            if(currentDisplay != clicked) {
              $('#' + currentDisplay).removeClass('active');
              if(clicked == "matchupsitem") {
                displayMatchups();
              } else if(clicked == "teamsitem") {
                displayTeams();
              }
              $('#' + clicked).addClass('active');
              currentDisplay = clicked;
            }
          });

          displayTeams();
      });

    </script>
  </body>
</html>
